#row_sender_sender_сommon_group_sender_city_id {
    display: none;
}

#import_import_group{
    display: none;
}

#import_import_group-head{
    display: none;
}

.progress-bar-wrapper{
    border-radius: 4px;
    height: 19px;
    background: #f8f5f5;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #bde6f9;
    color: #000;
    text-align: center;
}

[for="sender_sender_group_sender_city_id"],
[for="sender_sender_address_to_terminal_group_sender_terminal_code_selected"]{
    display: none;
}