.dpd .nav-tab-wrapper {   
    margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
    line-height: inherit;
}

.dpd .nav-tab {
    float: left;
    border-bottom: none;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    background: #f1f1f1;
    color: #303030;
    text-decoration: none;
    white-space: nowrap;
}

.dpd .nav-tab:hover {
    background: #e4e4e4;
}

.dpd .nav-tab-active, .dpd .nav-tab-active:hover {
    background: #fff;
    color: #000;
    border-left: 2px solid #eb5202;
    font-weight: bold;
}

.dpd .nav-tab-wrapper:not(.wp-clearfix):after {
    content: "";
    display: table;
    clear: both;
}

.dpd .tab-wrapper {
    margin-top: 25px;
}

.dpd table {
    margin-bottom: 1.5rem;
}

.dpd input.dimensions {
    width: 75px;
}

.dpd button{
    font-size: 1.6rem;
    letter-spacing: .025em;
    padding-bottom: 0.6875em;
    padding-top: 0.6875em;
}

.dpd input[readonly=""]{
    background-color: #f1f1f1;
}

.dpd table.admin__table-secondary th{
    width: 50%;
}