
<div <?php echo ($block->getData('dpdCreated') ? '' : 'style="display:none"'); ?> id="dpd_order_form_files">
    <div class="admin__page-section-item-title">
        <span class="title">
            Накладная
        </span>
    </div>
    <table class="admin__table-secondary">
        <tr>
            <th>
            </th>
            <td>
                <button class="button primary" id="download_invoice_file"
                    data-invoice-file-url="../../../../../../../dpd/ajax/printdocs?type=invoice"
                >
                    Запросить файл накладной 
                </button>
            </td>
        </tr>
    </table>
    <div class="admin__page-section-item-title">
        <span class="title">
            Печать наклеек
        </span>
    </div>
    <table class="admin__table-secondary">
        <tr>
            <th>
                <label for="dpd_label_count">
                    Количество
                </label>
            </th>
            <td>
                <input class="admin__control-text" type="text" id="dpd_label_count"
                    name="dpd_label_count"
                    value="<?php echo $block->getData('cargoNumPack')
                        ? $block->getData('cargoNumPack') : 1; ?>"
                >
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_file_format">
                    Формат файла
                </label>
            </th>
            <td>
                <select class="admin__control-select"
                    type="text" name="file_format"
                    id="dpd_file_format"
                >
                    <option value="PDF">PDF</option>
                    <option value="FP3">FP3</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_print_area_format">
                    Формат области печати
                </label>
            </th>
            <td>
                <select class="admin__control-select"
                    type="text" name="print_area_format"
                    id="dpd_print_area_format"
                >
                    <option value="A5">A5</option>
                    <option value="A6">A6</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
            </th>
            <td>
                <button class="button primary" id="download_label_file"
                    data-label-file-url="../../../../../../../dpd/ajax/printdocs?type=label">
                    Запросить файл наклеек    
                </button>
            </td>
        </tr>
    </table>
</div>


<div class="messages" id="dpd_order_form_files-message" <?php echo ($block->getData('dpdCreated') ? 'style="display:none"' : ''); ?>>
    <div class="message message-info info">
        <div>
            Документы можно печатать только для созданного заказа в DPD со статусом «Успешно создан»
        </div>
    </div>
</div>