<?php
$sendedToDdp = $block->getData('sendedToDdp');
$ogd = $block->getData('ogd');
?>
<div class="admin__page-section-item-title">
    <span class="title">
        Опции
    </span>
</div>
<div class="messages">
    <div class="message message-info info">
        <div data-ui-id="messages-message-info">
            Стоимость платных опций не учитывается при расчете доставки.
        </div>
    </div>
</div>
<table class="admin__table-secondary">
    <tr>
        <th>
            <label for="dpd_cargo_registered">
                Ценный груз
            </label>
        </th>
        <td>
            <label for="dpd_cargo_registered">
                <input class="admin__control-checkbox" type="checkbox" name="order[cargoRegistered]"
                    id="dpd_cargo_registered" value="1" 
                    <?php 
                        echo $block->getData('cargoRegistered') ?
                            'checked="checked"' : ''; 
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_dvd">
                Доставка в выходные дни
            </label>
        </th>
        <td>
            <label for="dpd_dvd">
                <input class="admin__control-checkbox" type="checkbox" name="order[dvd]"
                    id="dpd_dvd" value="1" 
                    <?php 
                        echo $block->getData('dvd') ?
                            'checked="checked"' : ''; 
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_trm">
                Температурный режим
            </label>
        </th>
        <td>
            <label for="dpd_trm">
                <input class="admin__control-checkbox need-reload-after-change"
                    type="checkbox" name="order[trm]"
                    id="dpd_trm" value="1" 
                    <?php 
                        echo $block->getData('trm') ?
                            'checked="checked"' : ''; 
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_prd">
                Погрузо-разгрузочные работы при доставке
            </label>
        </th>
        <td>
            <label for="dpd_prd">
                <input class="admin__control-checkbox" type="checkbox" name="order[prd]"
                    id="dpd_prd" value="1" 
                    <?php 
                        echo $block->getData('prd') ?
                            'checked="checked"' : ''; 
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_vdo">
                Возврат документов отправителю
            </label>
        </th>
        <td>
            <label for="dpd_vdo">
                <input class="admin__control-checkbox" type="checkbox" name="order[vdo]"
                    id="dpd_vdo" value="1" 
                    <?php 
                        echo $block->getData('vdo') ?
                            'checked="checked"' : ''; 
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_ogd">
                Ожидание на адресе
            </label>
        </th>
        <td>
            <select class="admin__control-select need-reload-after-change"
                type="text" name="order[ogd]"
                id="dpd_ogd" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <option value="">
                    - Не установлено -
                </option>
                <option value="ПРИМ"
                    <?php if ($ogd == 'ПРИМ'): ?>
                        selected=""
                    <?php endif; ?>
                >
                    Примерка
                </option>
                <option value="ПРОС"
                    <?php if ($ogd == 'ПРОС'): ?>
                        selected=""
                    <?php endif; ?>
                >
                    Простая
                </option>
                <option value="РАБТ"
                    <?php if ($ogd == 'РАБТ'): ?>
                        selected=""
                    <?php endif; ?>
                >
                    Проверка работоспособности
                </option>
            </select>
            <small><br>опция платная, стоимость уточняйте у менеджера</small>
        </td>
    </tr>
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Уведомления
    </span>
</div>
<table class="admin__table-secondary">
    <tr>
        <th>
            <label for="dpd_esz">
                Email
            </label>
        </th>
        <td>
            <input class="admin__control-text" type="text" name="order[esz]"
                id="dpd_esz" value= 
                "<?php echo $block->getData('esz'); ?>"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
        </td>
    </tr>
</table>