<?php
$paymentType = $block->getData('paymentType');
$deliveryType = $block->getData('deliveryType');
$sendedToDdp = $block->getData('sendedToDdp');
$deliveryVariant = $block->getData('deliveryVariant');
$pickupTimePeriod = $block->getData('pickupTimePeriod');
$deliveryTimePeriod = $block->getData('deliveryTimePeriod');
?>
<table class="admin__table-secondary">
    <tbody>
        <tr>
            <th>
                <label class="admin__field-label">Статус</label>
            </th>
            <td >
                <span id="dpd_status"><?php echo $block->getData('status'); ?></span>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Номер заказа</label>
            </th>
            <td >
                <?php echo $block->getData('orderIncrementId'); ?>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Номер заказа DPD</label>
            </th>
            <td >
                <span id="dpd_id">
                    <?php echo $block->getData('orderNum'); ?>  
                </span>
            </td>
        </tr>
        <tr>
            <th>
               <label class="admin__field-label">Оплата
            </th>
            <td >
                <select class="admin__control-select need-reload-after-change"
                    name="order[paymentType]" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?> >
                    <option 
                        <?php if (!$paymentType): ?>
                            selected=""
                        <?php endif; ?>   
                        value="">
                        Безналичный расчет             
                    </option>
                    <option
                        <?php if ($paymentType == \Ipol\DPD\Order::PAYMENT_TYPE_OUP): ?>
                            selected=""
                        <?php endif; ?> 
                        value="<?php echo \Ipol\DPD\Order::PAYMENT_TYPE_OUP; ?>">
                        Оплата у получателя наличными
                    </option>
                    <option
                        <?php if ($paymentType == \Ipol\DPD\Order::PAYMENT_TYPE_OUO): ?>
                            selected=""
                        <?php endif; ?> 
                        value="<?php echo \Ipol\DPD\Order::PAYMENT_TYPE_OUO; ?>">
                        Оплата у отправителя наличными
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label" for="dpd_delivery_type">
                    <label class="admin__field-label">Служба доставки</label>
                </label>
            </th>
            <td >
                <select class="admin__control-select need-reload-after-change"
                    type="text" name="order[deliveryType]"
                    id="dpd_delivery_type" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <option
                        <?php if ($deliveryType == 'PCL'): ?>
                            selected=""
                        <?php endif; ?>
                        value="PCL">DPD OPTIMUM</option>
                    <option
                        <?php if ($deliveryType == 'CUR'): ?>
                            selected=""
                        <?php endif; ?>
                        value="CUR">DPD CLASSIC</option>
                    <option
                        <?php if ($deliveryType == 'CSM'): ?>
                            selected=""
                        <?php endif; ?>
                        value="CSM">DPD Online Express</option>
                    <option
                        <?php if ($deliveryType == 'ECN'): ?>
                            selected=""
                        <?php endif; ?>
                        value="ECN">DPD ECONOMY</option>
                    <option
                        <?php if ($deliveryType == 'ECU'): ?>
                            selected=""
                        <?php endif; ?>
                        value="ECU">DPD ECONOMY CU</option>
                    <option
                        <?php if ($deliveryType == 'NDY'): ?>
                            selected=""
                        <?php endif; ?>
                        value="NDY">DPD EXPRESS</option>
                    <option
                        <?php if ($deliveryType == 'BZP'): ?>
                            selected=""
                        <?php endif; ?>
                        value="BZP">DPD 18:00</option>
                    <option
                        <?php if ($deliveryType == 'MXO'): ?>
                            selected=""
                        <?php endif; ?>
                        value="MXO">DPD Online Max</option>
                    <option
                        <?php if ($deliveryType == 'MAX'): ?>
                            selected=""
                        <?php endif; ?>
                        value="MAX">DPD MAX domestic</option>
                    <option
                        <?php if ($deliveryType == 'PUP'): ?>
                            selected=""
                        <?php endif; ?>
                        value="PUP">DPD SHOP</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Вариант доставки</label>
            </th>
            <td >
                <select class="admin__control-select need-reload-after-change"
                    name="order[deliveryVariant]"
                        <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?> >
                    <option
                        <?php if ($deliveryVariant == 'ДД'): ?>
                            selected=""
                        <?php endif; ?> 
                        value="ДД">
                        Дверь - Дверь
                    </option>
                    <option
                        <?php if ($deliveryVariant == 'ДТ'): ?>
                            selected=""
                        <?php endif; ?> 
                        value="ДТ">
                        Дверь - Терминал
                    </option>
                    <option
                        <?php if ($deliveryVariant == 'ТД'): ?>
                            selected=""
                        <?php endif; ?> 
                        value="ТД">
                        Терминал - Дверь
                    </option>
                    <option
                        <?php if ($deliveryVariant == 'ТТ'): ?>
                            selected=""
                        <?php endif; ?> 
                        value="ТТ">
                        Терминал - Терминал
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Дата передачи груза в DPD</label>
            </th>
            <td >
                <input class="admin__control-text datepicker"
                    type="text" name="order[pickupDate]"
                    value="<?php echo $block->getData('pickupDate'); ?>"
                        <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Интервал времени передачи груза в DPD</label>
            </th>
            <td >
                <select class="admin__control-select"
                    name="order[pickupTimePeriod]" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <option value="9-18"
                        <?php if ($pickupTimePeriod == '9-18'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        в любое время с 09:00 до 18:00
                    </option>
                    <option value="9-13"
                        <?php if ($pickupTimePeriod == '9-13'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        с 09:00 до 13:00
                    </option>
                    <option value="13-18"
                        <?php if ($pickupTimePeriod == '13-18'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        с 13:00 до 18:00
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label" for="dpd_delivery_time_period">
                    Интервал времени доставки груза
                </label>
            </th>
            <td >
                <select class="admin__control-select"
                    type="text" name="order[deliveryTimePeriod]"
                    id="dpd_delivery_time_period" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <option value="9-18"
                        <?php if ($deliveryTimePeriod == '9-18'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        в любое время с 09:00 до 18:00
                    </option>
                    <option value="9-14"
                        <?php if ($deliveryTimePeriod == '9-14'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        с 09:00 до 14:00
                    </option>
                    <option value="13-18"
                        <?php if ($deliveryTimePeriod == '13-18'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        с 13:00 до 18:00
                    </option>
                    <option value="18-22"
                        <?php if ($deliveryTimePeriod == '18-22'): ?>
                            selected=""
                        <?php endif; ?>
                    >
                        с 18:00 да 22:00 (оплачивается дополнительно)
                    </option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Детали заказа
    </span>
</div>
<table class="admin__table-secondary">
    <tbody>
        <tr>
            <th>
                <label class="admin__field-label">Вес отправки, кг</label>
            </th>
            <td >
                <input class="admin__control-text need-reload-after-change"
                    type="text" name="order[cargoWeight]"
                        value="<?php echo $block->getData('cargoWeight'); ?>"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Габариты (ШхВхГ), см</label>
            </th>
            <td >
                <input class="admin__control-text dimensions need-reload-after-change"
                    type="text" name="order[dimensionWidth]"
                    value="<?php echo $block->getData('dimensionWidth'); ?>"
                        id="dpd_dimensions_width"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>> x
                <input class="admin__control-text dimensions need-reload-after-change"
                    type="text" name="order[dimensionHeight]" 
                    value="<?php echo $block->getData('dimensionHeight'); ?>"
                        id="dpd_dimensions_height"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>> x
                <input class="admin__control-text dimensions need-reload-after-change"
                    type="text" name="order[dimensionLength]"
                    value="<?php echo $block->getData('dimensionLength'); ?>"
                        id="dpd_dimensions_length"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
               <label class="admin__field-label">Объём, м3</label>
            </th>
            <td >
                <input class="admin__control-text"
                    type="text" name="order[cargoVolume]"
                        value="<?php echo $block->getData('cargoVolume'); ?>"
                    id="dpd_cargo_volume" readonly=""
                        <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Колличество грузомест(посылок)</label>
            </th>
            <td >
                <input class="admin__control-text need-reload-after-change"
                    type="text" name="order[cargoNumPack]"
                        value="<?php echo $block->getData('cargoNumPack'); ?>"
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?> >
            </td>
        </tr>
        <tr>
            <th>
                <label class="admin__field-label">Содержимое отправки</label>
            </th>
            <td >
                <input class="admin__control-text"
                    type="text" name="order[cargoCategory]" 
                    value="<?php echo $block->getData('cargoCategory'); ?>"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?> >
            </td>
        </tr>
    </tbody>
</table>
<script>
    require([
    'jquery',
    'jquery/ui'
    ], function($){
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date()
        });
        $('#dpd_dimensions_width,'+
            '#dpd_dimensions_height, #dpd_dimensions_length').keyup(function() {
            var volume  = ((parseFloat($('#dpd_dimensions_width').val()))
                * (parseFloat($('#dpd_dimensions_height').val()))
                * (parseFloat($('#dpd_dimensions_length').val()))
                / 1000000).toFixed(6);
            volume = isNaN(volume) ? 0 : volume;
            $('#dpd_cargo_volume').val(volume);
        });
    });
</script>