<?php
$sendedToDdp = $block->getData('sendedToDdp');
$unitLoads = (array)$block->getData('unitLoads');
$useCargoValue = $block->getData('useCargoValue');
$cargoRegistered = $block->getData('cargoRegistered');
$npp = $block->getData('npp');
?>
<div class="admin__page-section-item-title">
    <span class="title">
        Состав заказа
    </span>
</div>
<table class="admin__table-primary">
    <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Объявленная ценность</th>
        <th>Наложенный платеж</th>
        <th>НДС</th>
    </tr>
    <?php foreach($unitLoads as $key => $ul): ?>
        <tr>
            <td>
                <?php echo $ul['NAME']; ?>
                <input type="hidden" class="order-pay-tab-input"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>
                    name="order[unit_loads][<?php echo $key ?>][NAME]"
                    value="<?php echo $ul['NAME'] ?>">
            </td>
            <td>
                <input type="text" class="admin__control-text need-reload-after-change"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>
                    name="order[unit_loads][<?php echo $key ?>][QUANTITY]"
                    value="<?php echo $ul['QUANTITY'] ?>">
            </td>
            <td><input type="text" class="admin__control-text need-reload-after-change"
                    <?php echo !$useCargoValue ? 'disabled="disabled"' : ''; ?>
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>
                    name="order[unit_loads][<?php echo $key ?>][CARGO]"
                    value="<?php echo $ul['CARGO'] ?>">
            </td>
            <td><input type="text" class="admin__control-text need-reload-after-change"
                    <?php echo !$npp ? 'disabled="disabled"' : ''; ?>
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>
                    name="order[unit_loads][<?php echo $key ?>][NPP]"
                    value="<?php echo $ul['NPP'] ?>">
            </td>
            <td>
                <select class="admin__control-select"
                    name="order[unit_loads][<?php echo $key ?>][VAT]"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <option value="" 
                        <?php echo $ul['VAT'] === '' ? 'selected=""' : '' ?>>
                        Без НДС
                    </option>
                    <option value="0" 
                        <?php echo $ul['VAT'] === '0' ? 'selected=""' : '' ?>>
                        0%
                    </option>
                    <option value="10" 
                        <?php echo $ul['VAT'] == '10' ? 'selected=""' : '' ?>>
                        10%
                    </option>
                    <option value="20" 
                        <?php echo $ul['VAT'] == '20' ? 'selected=""' : '' ?>>
                        20%
                    </option>
                </select>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Объявленная ценность
    </span>
</div>
<table class="admin__table-secondary">
    <tr>
        <th>
            <label for="dpd_recipient_fio">
                Указывать ОЦ
            </label>
        </th>
        <td>
            <label for="dpd_use_cargo_value">
                <input class="admin__control-checkbox need-reload-after-change"
                    type="checkbox" name="order[useCargoValue]"
                    id="dpd_use_cargo_value"
                    <?php 
                        echo $useCargoValue || $cargoRegistered ?
                            'checked="checked"' : '';
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_cargo_value">
                Сумма объявленной ценности
            </label>
        </th>
        <td>
            <label for="dpd_cargo_value">
                <input class="admin__control-text need-reload-after-change" type="text" name="order[cargoValue]" readonly=""
                    id="dpd_cargo_value" value="<?php echo $block->getData('cargoValue'); ?>"
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </label>
        </td>
    </tr>
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Наложенный платеж
    </span>
</div>
<table class="admin__table-secondary">
    <tr>
        <th>
            <label for="dpd_npp">
                Курьер получает деньги за заказ
            </label>
        </th>
        <td>
            <label for="dpd_npp">
                <input class="admin__control-checkbox need-reload-after-change"
                    type="checkbox" name="order[npp]"
                    id="dpd_npp"
                    <?php 
                        echo $npp ?
                            'checked="checked"' : '';
                    ?>
                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                <label></label>
            </label>
        </td>
    </tr>
    <tr>
        <th>
            <label for="dpd_sum_npp">
                Сумма наложенного платежа
            </label>
        </th>
        <td>
            <label for="dpd_sum_npp">
                <input class="admin__control-text" type="text" name="order[sum_npp]" readonly=""
                    id="dpd_sum_npp"  value="<?php echo $block->getData('sumNpp'); ?>"
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </label>
        </td>
    </tr>
</table>
