<?php
$sendedToDdp = $block->getData('sendedToDdp');
$deliveryVariant = $block->getData('deliveryVariant');
$recipient = $block->getData('recipient');
$recipientTerminals = (array)$block->getData('recipientTerminals');
?>

<table class="admin__table-secondary">
    <tbody>
        <tr>
            <th>
                <label for="dpd_recipient_fio">
                    Контактное лицо
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[recipient][fio]"
                    value="<?php 
                        echo $recipient['fio'];
                    ?>"
                    id="dpd_recipient_fio" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_recipient_name">
                    Имя отправителя
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[recipient][name]"
                    value="<?php 
                        echo $recipient['name'];
                    ?>"
                    id="dpd_recipient_name" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_recipient_phone">
                    Телефон отправителя
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[recipient][phone]"
                    value="<?php 
                        echo $recipient['phone'];
                    ?>"
                    id="dpd_recipient_phone" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_recipient_email">
                    Email
                </label>
            </th>
            <td >
                <input type="email" class="admin__control-text"
                    name="order[recipient][email]"
                    value="<?php 
                        echo $recipient['email'];
                    ?>"
                    id="dpd_recipient_email" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_recipient_need_pass">
                    Требовать пропуск
                </label>
            </th>
            <td >
                <label for="dpd_recipient_need_pass">
                    <input class="admin__control-checkbox" type="checkbox" name="order[recipient][need_pass]"
                    id="dpd_recipient_need_pass" value="1" 
                    <?php 
                        echo $recipient['need_pass'] ?
                            'checked="checked"' : ''; 
                    ?>
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <label></label>
                </label>
            </td>
        </tr>
    </tbody> 
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Адрес
    </span>
</div>
<table class="admin__table-secondary">
    <tbody> 
        <tr>
            <th>
                <label for="dpd_recipient_city">
                    Город
                </label>
            </th>
            <td>
                <?php echo $recipient['location']; ?>
                <input type="hidden" name="order[recipient][location]"
                    value="<?php echo $recipient['location']; ?>">
                <input type="hidden" name="order[recipient][city_id]"
                    value="<?php echo $recipient['city_id']; ?>">
            </td>
        </tr>
    </tbody> 
</table>
<div class="tab-wrapper order">
    <div class="dpd-tab-content-2" id="dpd_door" 
        <?php echo $deliveryVariant == 'ДТ' || $deliveryVariant == 'ТТ' ?
            'style="display:none"' : '';
        ?>
    >
        <table class="admin__table-secondary">
            <tbody> 
                <tr>
                    <th>
                        <label for="dpd_recipient_street">
                            Улица
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][street]"
                            value="<?php 
                                echo $recipient['street'];
                            ?>"
                            id="dpd_recipient_street" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_streetabbr">
                            Аббревиатура улицы
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][streetabbr]"
                            value="<?php 
                                echo $recipient['streetabbr'];
                            ?>"
                            id="dpd_recipient_streetabbr" 
                                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_house">
                            Дом
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][house]"
                            value="<?php 
                                echo $recipient['house'];
                            ?>"
                            id="dpd_recipient_korpus" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_korpus">
                            Корпус
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][korpus]"
                            value="<?php 
                                echo $recipient['korpus'];
                            ?>"
                            id="dpd_recipient_korpus" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_str">
                            Строение
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][str]"
                            value="<?php 
                                echo $recipient['str'];
                            ?>"
                            id="dpd_recipient_str" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_vlad">
                            Владение
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][vlad]"
                            value="<?php 
                                echo $recipient['vlad'];
                            ?>"
                            id="dpd_recipient_vlad" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_office">
                            Офис
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][office]"
                            value="<?php 
                                echo $recipient['office'];
                            ?>"
                            id="dpd_recipient_office" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_recipient_flat">
                            Квартира
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[recipient][flat]"
                            value="<?php 
                                echo $recipient['flat'];
                            ?>"
                            id="dpd_recipient_flat" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="dpd-tab-content-2" id="dpd_terminal"
        <?php echo $deliveryVariant == 'ТД' || $deliveryVariant == 'ДД' ?
            'style="display:none"' : '';
        ?>
    >
        <table class="admin__table-secondary">
            <tbody> 
                <tr>
                    <th>
                        <label for="dpd_recipient_terminal_code">
                            Терминал
                        </label>
                    </th>
                    <td >
                        <select class="admin__control-select need-reload-after-change"
                            name="order[recipient][terminal_code]"
                            id="dpd_recipient_terminal_code" 
                                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                            <?php foreach ($recipientTerminals as $terminal): ?>
                                <option value="<?php echo $terminal['CODE']; ?>" 
                                    <?php if ($recipient['terminal_code'] == $terminal['CODE']): ?> selected="" <?php endif; ?>>
                                    <?php echo $terminal['ADDRESS_SHORT']; ?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
            <tbody> 
        </table>
    </div>
</div>