<?php
$sendedToDdp = $block->getData('sendedToDdp');
$deliveryVariant = $block->getData('deliveryVariant');
$sender = $block->getData('sender');
$senderTerminals = (array)$block->getData('senderTerminals');
?>
<table class="admin__table-secondary">
    <tbody>
        <tr>
            <th>
                <label for="dpd_sender_fio">
                    Контактное лицо
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[sender][fio]"
                    value="<?php 
                        echo $sender['fio'] ?? '';
                    ?>"
                    id="dpd_sender_fio" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_sender_name">
                    Имя отправителя
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[sender][name]"
                    value="<?php 
                        echo $sender['name'];
                    ?>"
                    id="dpd_sender_name" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_sender_phone">
                    Телефон отправителя
                </label>
            </th>
            <td >
                <input type="text" class="admin__control-text"
                    name="order[sender][phone]"
                    value="<?php 
                        echo $sender['phone'];
                    ?>"
                    id="dpd_sender_phone" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_sender_email">
                    Email
                </label>
            </th>
            <td >
                <input type="email" class="admin__control-text"
                    name="order[sender][email]"
                    value="<?php 
                        echo $sender['email'];
                    ?>"
                    id="dpd_sender_email" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
            </td>
        </tr>
        <tr>
            <th>
                <label for="dpd_sender_need_pass">
                    Требовать пропуск
                </label>
            </th>
            <td >
                <label for="dpd_sender_need_pass">
                    <input class="admin__control-checkbox" type="checkbox" name="order[sender][need_pass]"
                    id="dpd_sender_need_pass" value="1" 
                    <?php 
                        echo $sender['need_pass'] ?
                            'checked="checked"' : ''; 
                    ?>
                    <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    <label></label>
                </label>
            </td>
        </tr>
    </tbody> 
</table>
<div class="admin__page-section-item-title">
    <span class="title">
        Адрес
    </span>
</div>
<table class="admin__table-secondary">
    <tbody> 
        <tr>
            <th>
                <label for="dpd_sender_city">
                    Город
                </label>
            </th>
            <td >
                <?php echo $sender['location']; ?>
                <input type="hidden" name="order[sender][location]"
                    value="<?php echo $sender['location']; ?>">
                <input type="hidden" name="order[sender][city_id]"
                    value="<?php echo $sender['city_id']; ?>">
            </td>
        </tr>
    </tbody> 
</table>
<div class="tab-wrapper order">
    <div class="dpd-tab-content-2" id="dpd_door" 
        <?php echo $deliveryVariant == 'ТД' || $deliveryVariant == 'ТТ' ?
            'style="display:none"' : '';
        ?>
    >
        <table class="admin__table-secondary">
            <tbody> 
                <tr>
                    <th>
                        <label for="dpd_sender_street">
                            Улица
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][street]"
                            value="<?php 
                                echo $sender['street'];
                            ?>"
                            id="dpd_sender_street" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_streetabbr">
                            Аббревиатура улицы
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][streetabbr]"
                            value="<?php 
                                echo $sender['streetabbr'];
                            ?>"
                            id="dpd_sender_streetabbr" 
                                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_house">
                            Дом
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][house]"
                            value="<?php 
                                echo $sender['house'];
                            ?>"
                            id="dpd_sender_korpus" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_korpus">
                            Корпус
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][korpus]"
                            value="<?php 
                                echo $sender['korpus'];
                            ?>"
                            id="dpd_sender_korpus" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_str">
                            Строение
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][str]"
                            value="<?php 
                                echo $sender['str'];
                            ?>"
                            id="dpd_sender_str" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_vlad">
                            Владение
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][vlad]"
                            value="<?php 
                                echo $sender['vlad'];
                            ?>"
                            id="dpd_sender_vlad" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_office">
                            Офис
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][office]"
                            value="<?php 
                                echo $sender['office'];
                            ?>"
                            id="dpd_sender_office" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="dpd_sender_flat">
                            Квартира
                        </label>
                    </th>
                    <td >
                        <input type="text" class="admin__control-text"
                            name="order[sender][flat]"
                            value="<?php 
                                echo $sender['flat'];
                            ?>"
                            id="dpd_sender_flat" <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="dpd-tab-content-2" id="dpd_terminal"
        <?php echo $deliveryVariant == 'ДТ' || $deliveryVariant == 'ДД' ?
            'style="display:none"' : '';
        ?>
    >
        <table class="admin__table-secondary">
            <tbody> 
                <tr>
                    <th>
                        <label for="dpd_sender_terminal_code">
                            Терминал
                        </label>
                    </th>
                    <td >
                        <select class="admin__control-select need-reload-after-change"
                            name="order[sender][terminal_code]"
                            id="dpd_recipient_terminal_code" 
                                <?php echo $sendedToDdp ? 'disabled="disabled"' : ''; ?>>
                            <?php foreach ($senderTerminals as $terminal): ?>
                                <option value="<?php echo $terminal['CODE']; ?>" 
                                    <?php if ($sender['terminal_code'] == $terminal['CODE']): ?> selected="" <?php endif; ?>>
                                    <?php echo $terminal['ADDRESS_SHORT']; ?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
            <tbody> 
        </table>
    </div>
</div>