<?php
    $notifications = $block->getData('notifications');
    $errors = $block->getData('errors');
    $activeTab = $block->getData('activeTab');
    $sendedToDdp = $block->getData('sendedToDdp');
    $tabs = [
        'order' => 'Заказ',
        'sender' => 'Отправитель',
        'recipient' => 'Получатель',
        'payment' => 'Оплата',
        'options' => 'Опции',
        'docs' => 'Документы',
    ];
?>
<section class="admin__page-section custom-tab-content dpd">
<h1>Редактирование данных для DPD</h1>
    <form id="dpd_order" method="post"
        data-change-url="<?php 
            echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
        ?>"
        data-send-url="../../../../../../../dpd/ajax/sendordertodpd"
        data-cancel-url="../../../../../../../dpd/ajax/canceldpdorder"
    >
        <div id="messages">
            <div class="messages">
                <?php if ($errors): ?>
                    <div class="message message-error error">
                        <?php foreach ($errors as $error): ?>
                            <div data-ui-id="messages-message-error"><?php echo $error; ?></div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <?php if ($notifications && 1 != 1): ?>
                    <div class="message message-info info">
                        <?php foreach ($notifications as $notification): ?>
                            <div data-ui-id="messages-message-info"><?php echo $notification; ?></div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <?php if (isset($tariff['COST'])): ?>
                    <div class="message message-info info">
                        <div data-ui-id="messages-message-info">
                            Рассчитанная стоимость доставки: <?php echo $tariff['COST']; ?>
                            <?php echo $block->getData('currencyCode'); ?>
                        </div>
                        <div data-ui-id="messages-message-info">
                            Срок доставки: <?php echo isset($tariff['DAYS']) ? $tariff['DAYS'] : '--'; ?> д
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <input type="hidden" name="order[orderId]" value="<?php
            echo $block->getData('orderId');
        ?>">
        <input type="hidden" name="order[orderIncrementId]" value="<?php
            echo $block->getData('orderIncrementId');
        ?>">
        <nav class="nav-tab-wrapper woo-nav-tab-wrapper" data-tabs-content-level="1">
            <?php foreach ($tabs as $id => $tabname): ?>
                <a href="javascript:void(0);" class="nav-tab dpd-tab <?php 
                    echo $id == $activeTab ? 'nav-tab-active' : ''; ?>"
                    data-tab-content-id="<?php echo $id; ?>">
                    <?php echo $tabname; ?>     
                </a>
            <?php endforeach; ?>
        </nav>
        <div class="tab-wrapper">
            <?php foreach ($tabs as $id => $tabname): ?>
                <div class="dpd-tab-content-1" id="<?php echo $id; ?>"
                    <?php
                        echo $id == $activeTab ? '' : 'style="display:none;"';
                    ?>
                >
                <?php echo $this->getLayout()
                    ->createBlock('Pimentos\DPD\Block\Adminhtml\Order\View\Tab\Subtabs')
                    ->setTemplate(sprintf('Pimentos_DPD::order/view/tab/tabs/%s.phtml', $id))
                    ->toHtml(); ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="order-buttons">
            <button class="button primary send-order"
                name="send" value="Отправить заказ"
                <?php if ($sendedToDdp): ?>
                    style="display:none";
                <?php endif; ?>
            >
                Отправить заказ
            </button>
            <button class="button primary cancel-order"
                name="cancel" value="Отменить заказ"
                <?php if (!$sendedToDdp): ?>
                    style="display:none";
                <?php endif; ?>
            >
                Отменить заказ 
            </button>
        </div>
    </form>
</section>