.dpd-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    cursor: pointer;
}

.dpd-popup {
    background: transparent;
    position: fixed;
    text-align: center;
    top: 47%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.dpd-close{
    display: none;
    position: absolute;
    right: 5px;
    top: 2px;
    text-decoration: none !important;
    color: #ccc !important;
}

#pimentos_dpd_map{
    width: 800px;
}